<app-navbar></app-navbar>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<div class="margen">
      <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center titulo">
          <a routerLink="/desecantes">
            <i class="fa-solid fa-arrow-left fa-xl" style="color: #363636;"></i>
          </a>
          <h5>Venta guiada desecantes</h5>
          <button class="btn btn-outline-secondary" (click)="getProductos()">Ver productos</button>
        </div>
        <div class="form-row">
          <!--TIPO DE DESECANTE-->
          <div class="col-md-3 mb-3">
            <h6>Tipo de desecante</h6>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" [(ngModel)]="opcionesDesecante[opciones[0]]" [id]="opciones">
              <label class="form-check-label" [for]="opciones">
                {{ opciones[0] }}
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [(ngModel)]="opcionesDesecante[opciones[1]]" [id]="opciones">
              <label class="form-check-label" [for]="opciones">
                {{ opciones[1] }}
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [(ngModel)]="opcionesDesecante[opciones[2]]" [id]="opciones">
              <label class="form-check-label" [for]="opciones">
                {{ opciones[2] }}
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [(ngModel)]="opcionesDesecante[opciones[3]]" [id]="opciones">
              <label class="form-check-label" [for]="opciones">
                {{ opciones[3] }}
              </label>
            </div>
          </div>
          <!--TIPO DE UNIDAD OZ-->
          <div class="col-md-3 mb-2">
            <h6 class="">Oz.</h6>
            <div class="row">
              <div class="col-sm">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [(ngModel)]="opcionesDesecante[opciones[4]]" [id]="opciones">
              <label class="form-check-label" [for]="opciones">
                {{ opciones[4] }}
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [(ngModel)]="opcionesDesecante[opciones[5]]" [id]="opciones">
              <label class="form-check-label" [for]="opciones">
                {{ opciones[5] }}
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [(ngModel)]="opcionesDesecante[opciones[6]]" [id]="opciones">
              <label class="form-check-label" [for]="opciones">
                {{ opciones[6] }}
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [(ngModel)]="opcionesDesecante[opciones[7]]" [id]="opciones">
              <label class="form-check-label" [for]="opciones">
                {{ opciones[7] }}
              </label>
            </div>
            </div>
            <div class="col-sm">

            <div class="form-check">
              <input class="form-check-input" type="checkbox" [(ngModel)]="opcionesDesecante[opciones[8]]" [id]="opciones">
              <label class="form-check-label" [for]="opciones">
                {{ opciones[8] }}
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [(ngModel)]="opcionesDesecante[opciones[9]]" [id]="opciones">
              <label class="form-check-label" [for]="opciones">
                {{ opciones[9] }}
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [(ngModel)]="opcionesDesecante[opciones[10]]" [id]="opciones">
              <label class="form-check-label" [for]="opciones">
                {{ opciones[10] }}
              </label>
            </div>
          </div>
          </div>
          </div>
          <!--GRAMOS-->
          <div class="col-md-2 mb-3">
            <h6>Gramos</h6>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [(ngModel)]="opcionesDesecante[opciones[11]]" [id]="opciones">
              <label class="form-check-label" [for]="opciones">
                {{ opciones[11] }}
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [(ngModel)]="opcionesDesecante[opciones[12]]" [id]="opciones">
              <label class="form-check-label" [for]="opciones">
                {{ opciones[12] }}
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [(ngModel)]="opcionesDesecante[opciones[13]]" [id]="opciones">
              <label class="form-check-label" [for]="opciones">
                {{ opciones[13] }}
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [(ngModel)]="opcionesDesecante[opciones[14]]" [id]="opciones">
              <label class="form-check-label" [for]="opciones">
                {{ opciones[14] }}
              </label>
            </div>
          </div>

          <!--PIEZAS-->
          <div class="col-md-4 mb-3">
            <h6>Número de piezas</h6>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [(ngModel)]="opcionesDesecante[opciones[15]]" [id]="opciones">
              <label class="form-check-label" [for]="opciones">
                {{ opciones[15] }}
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [(ngModel)]="opcionesDesecante[opciones[16]]" [id]="opciones">
              <label class="form-check-label" [for]="opciones">
                {{ opciones[16] }}
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [(ngModel)]="opcionesDesecante[opciones[17]]" [id]="opciones">
              <label class="form-check-label" [for]="opciones">
                {{ opciones[17] }}
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [(ngModel)]="opcionesDesecante[opciones[18]]" [id]="opciones">
              <label class="form-check-label" [for]="opciones">
                {{ opciones[18] }}
              </label>
            </div>
          </div>
        </div>
      </div>

      <br>
      <br>
      <div class="row justify-content-center">
        <div class="card" *ngFor="let item of productos" style="width: 18rem;">
            <img [src]="getImageUrl(item.NumArticulo)"  type="image/png"  (error)="imagenError($event)"  alt="{{ item.Descripcion }}" width="200">
        <div class="add">
            <!--<p class="card-text">{{item.NumArticulo}}</p>-->
            <p class="card-text"><strong>{{item.Descripcion}}</strong></p>
            <p class="card-text">Unidad de medida: {{item.Unidad_Medida}}</p>
            <p class="card-text">Costo en SAP: ${{item.Costo}}</p>

        </div>
        <div class="add">
            <input type="number" [(ngModel)]="item.Cantidad"  min="0" (input)="validarInput($event)"  class="cantidad">
            <button type="button" class="btn btn-outline-secondary add" (click)="agregarProducto(item)">Añadir</button>
        </div>
    </div>
</div>
</div>
<app-footer></app-footer>