<app-navbar></app-navbar>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <div class="container mt-5">
    <h5>Cotización</h5>
    <form>
      <div class="form-row">
        <div class="col-md-3 mb-3">
          <label for="field1">Vendedor:</label>
          <select class="form-select"  [(ngModel)]="datosCotizacion.Usuario_Clave_usuario" aria-label="Default select example" name="status8">
            <option selected>Selecciona Cliente</option>
            <option *ngFor="let option of vendedores"  [value]="option.Clave_usuario">{{ option.Nombre }}</option>
          </select>
        </div>
        <div class="col-md-3 mb-3">
          <label for="field2">Fecha de creación:</label>
          <input type="text" class="form-control" id="field2" [(ngModel)]="fecha" name="fecha">
        </div>
        <div class="col-md-3 mb-3">
          <label for="field2">Fecha de expiración:</label>
          <input type="Date" [(ngModel)]="datosCotizacion.FechaExpiracion" class="form-control" id="field2" name="field2">
        </div>
        <div class="col-md-3 mb-3">
          <label for="field1">Cliente:</label>
          <select class="form-select"  [(ngModel)]="datosCotizacion.Clientes_ID_Cliente" aria-label="Default select example" name="status10">
            <option selected>Selecciona Cliente</option>
            <option *ngFor="let option of clientes"  [value]="option.ID_Cliente">{{ option.Razon_Social }}</option>
          </select>
        </div>
        
      </div>
      <div class="form-row">
        
        <div class="col-md-3 mb-3">
          <label for="field3">Comentarios:</label>
          <input type="text" class="form-control" id="field3"  [(ngModel)]="datosCotizacion.Comentarios" name="comentarios">
        </div>
        <div class="col-md-3 mb-3">
          <label for="status" class="form-label">Status</label>
          <select class="form-select" [(ngModel)]="datosCotizacion.Status"  aria-label="Default select example" name="status">
              <option selected>Seleccione status</option>
              <option value="Abierta">En proceso</option>
          </select>
        </div>      
        <div class="col-md-3 mb-3">
          <label for="status" class="form-label">Flete</label>
          <select class="form-select" [(ngModel)]="flete" (ngModelChange)="actualizarFleteToShow()" aria-label="Default select example" name="flete">
              <option selected>Seleccione flete</option>
              <option value="ingresar">Ingresa cantidad</option>
              <option value="70">Norte</option>
              <option value="150">Bajio</option>
          </select>
        </div>
        <div class="col-md-2 mb-2" >
          <div *ngIf="flete=='ingresar'">
            <label for="field3">Ingresa costo flete:</label>
            <input type="text" class="form-control flete" id="field3" [(ngModel)]="ManualFlete" (ngModelChange)="actualizarFleteToShow()" name="field3">
          </div>
      <div> 

        <button *ngIf="this.datosCotizacion.Usuario_Clave_usuario!=''" (click)="guardar()" style="background-color: transparent; border: none;" data-toggle="tooltip" title="Guardar datos cotización">
          <i class="fa-solid fa-square-check" style="font-size: 2rem; color: #1f513a;"></i>
        </button>
        
        <button *ngIf="this.datosCotizacion.Usuario_Clave_usuario!=''" (click)="eliminarDatosCoti()" style="background-color: transparent; border: none;" data-toggle="tooltip" title="Eliminar datos de cotización">
          <i class="fa-solid fa-circle-xmark " style="font-size: 2rem; color: #511f1f;"></i>
        </button>
      </div>

        </div>
      </div>
      <!-- Repite este bloque para agregar más filas de campos -->
      <hr>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="moneda">Selecciona la moneda:</label>
          <select class="form-control" id="moneda" [(ngModel)]="moneda" (ngModelChange)="actualizarTasaDeConversion()" name="moneda">
            <option selected>Seleccionar moneda</option>
            <option value="pesos">Pesos Mexicanos</option>
            <option value="dolares">Dólares</option>
          </select>
          
          <div *ngIf="moneda=='dolares'">
            <label for="field2">Ingresa valor de dolar:</label>
            <input type="text" class="form-control" id="dolar" [(ngModel)]="valorD" (ngModelChange)="actualizarTasaDeConversion()" name="valor">
          </div>
        </div>     
    </div>

    </form>
    <div class=" contenedor table-responsive">
      <button class="btn btn-secondary" type="submit">
        <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Agregar Producto</a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li ><a class="dropdown-item" routerLink="/desecantes">Desecantes</a></li>
                      <li ><a class="dropdown-item" routerLink="/hotmelt">Hotmelt</a></li>
                      <li ><a class="dropdown-item" routerLink="/liquidos">Liquidos</a></li>
                      <li ><a class="dropdown-item" routerLink="/plastisol">Plasticol</a></li>
                      <li ><a class="dropdown-item" routerLink="/vci">VCI</a></li>
                  </ul>
                </button>
      <table class="table table-striped" >
            <thead>
              <th>Item</th>
              <th>Descripción</th>
              <th>Cantidad</th>
              <th>UM</th>
              <th>Flete</th>
              <th>Precio</th>
              <th>VA</th>
              <th>Desct.</th>
              <th>Precio Unitario</th>
              <th>Precio total</th>
              <th>Margen</th>
            </thead>
            <tbody>
              <tbody>
                <tr *ngFor="let item of productos; let i=index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ item.Descripcion }}</td>
                  <td>{{ item.Cantidad }}</td>
                  <td>{{ item.Unidad_Medida }}</td>
                  <td>{{ item.Flete | number:'1.2-2' }}</td>
                  <td><input type="number" step="0.01" class="form-control" id="precio" name="precio" [(ngModel)]="item.Precio"/>{{item.Precio}}</td>

                  <td><input type="number" step="0.01" class="form-control iva" id="iva" name="iva" [(ngModel)]="ivaPorProducto[i]"/>{{item.VA}}</td>
                  <td><input type="number" step="0.01" class="form-control des" [(ngModel)]="item.Desct" name="Desct"/></td>
                  <td>{{ item.PrecioUnitario | number:'1.4-4' }}</td>
                  <td>{{ item.PrecioTotal | number:'1.4-4' }}</td>
                  <!-- ... Código HTML existente ... -->
                  <td><strong>
                    <span [style.color]="calcularResultado(item, i, fleteToShow, 'dolares') < 0.28 ? 'red' : 'inherit'">
                      {{ calcularResultado(item, i, fleteToShow, 'dolares') | number:'1.2-2' }}
                    </span></strong>

                  </td>
                  <!-- ... Más código HTML ... -->

                </tr>
              </tbody>
              <thead>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th>Total</th>
              <th> {{ totalPrecioTotal  | number:'1.2-2' }}
              </th>
              <th></th>
            </thead>
        </table>
        <button class="btn cancelar" type="submit"  (click)="eliminarlocal()">Cancelar</button>
        <button class="btn guardar" (click)="crearCotizacionYProductos()"  type="submit">Guardar</button>

      </div>

  </div>

