hr{
    background-color: black;
}
.btn{
margin-left: 5px;
margin-top: 2rem;
}
.contenedor{
    width: 100%;
}

.des{
    width: 70px;
}
.guardar{
 padding: 15px 20px;
 background-color: #549256;
 border-color: #549256;
 float: right;
 color: white;
}
.cancelar{
    padding: 15px 20px;
    background-color: #6e6e6e;
    border-color: #6e6e6e;
    float: right;
    color: white;
   }
.flete{
    width: 180px;
}
.btn-primary{
    margin-left: 1rem;
    height: 40px;
    width: 135px;
}
.btn-secondary{
    float: right;
    margin-bottom: 1rem;
}