.fondo{
    background: #f2f2f2;
}
.container{
    margin-top: 3rem;
    background: #ffffff;
    padding: 3rem 2rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.btn{
    margin-left: 1rem;
}
form{
    margin-top: 1.5rem;
}

.tabla {
    margin-left: 50px;
    caption-side: top;
    min-width: 600px;
    margin-bottom: 4rem;
    border-collapse: collapse;
}

.small-cell {
    width: 50px; /* Ajusta el ancho según tus necesidades */
}

span{
    color: red;
}

