<body class="fondo">
    <app-navbar></app-navbar>
    <div class="container">
        <h3>Registrar cliente nuevo</h3>
        <br>
      <span>Campos obligatorios *</span>
      <div class="">
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="nombre" class="form-label">Clave cliente:</label><span>*</span>
                <input type="text" class="form-control" name="ID_cliente" [(ngModel)]="datosUsuario.ID_cliente" placeholder="Ingrese clave cliente">
              </div>
              <div class="mb-3">
                <label for="nombre" class="form-label">Nombre:</label><span>*</span>
                <input type="text" class="form-control" [(ngModel)]="datosUsuario.Razon_Social" name="Razon_Social" placeholder="Ingrese nombre de empresa">
              </div>
              <div class="mb-3">
                <label for="apellidp" class="form-label">RFC:</label>
                <input type="text" class="form-control" minlength="12" maxlength="13" [(ngModel)]="datosUsuario.RFC" name="RFC" placeholder="Ingrese RFC de la empresa">
            </div>
            
            </div>

            <div class="col-md-6">
                <div class="mb-3">
                  <label for="apellidom" class="form-label">Domicilio Fiscal:</label>
                  <input type="text" class="form-control" [(ngModel)]="datosUsuario.Domicilio_Fiscal" name="Domicilio_Fiscal" placeholder="Ingrese domicilio de la empresa">
                </div>
                <div class="mb-3">
                 <label for="correo" class="form-label">Correo electronico:</label>
                  <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="form-control" [(ngModel)]="datosUsuario.email" name="email" placeholder="Ingrese email empresarial">
                </div>
                <div class="mb-3">
                  <label for="telefono_empresarial" class="form-label">Teléfono empresarial:</label>
                  <input type="text" class="form-control" [(ngModel)]="datosUsuario.telefono_empresarial" name="telefono_empresarial" placeholder="Ingrese teléfono empresarial">
                </div>
                <button type="submit" (click)="AgregarCliente()" class="btn btn-primary">Enviar</button>
                <button type="submit" class="btn btn-secondary" routerLink="/menu">Cancelar</button>
            </div>
              


          </div>
        </form>
      </div>
</div>
<br>
<br>

</body>
<app-footer></app-footer>