/* Estilo para el footer */
.footer {
  background: var(--color-3, #373F41);
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Estilos para el contenido del footer en pantallas medianas y más grandes */
@media (min-width: 500px) {
  .footer p {
    font-size: 16px;
  }
}
