<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="">
        <p>&copy; 2023 Parquote / Todos los derechos resevados</p>
      </div>
    </div>
  </div>
</footer>
