<app-navbar></app-navbar>
  <div class="container mt-5">
    <h5>Cotización</h5>
    <form>
      <div class="form-row">
        <div class="col-md-3 mb-3">
          <label for="field1">Vendedor:</label>
          <select class="form-select"  [(ngModel)]="datosCotizacion.Usuario_Clave_usuario" aria-label="Default select example" name="vendedor">
            <option selected disabled>Seleccione</option>
            <option *ngFor="let option of vendedores"  [value]="option.Clave_usuario">{{ option.Nombre }}</option>
          </select>
        </div>
        <div class="col-md-3 mb-3">
          <label for="field2">Fecha de creación:</label>
          <input disabled type="text" class="form-control" id="field2" [(ngModel)]="fecha" name="fecha">
        </div>
        <div class="col-md-3 mb-3">
          <label for="field2">Fecha de expiración:</label>
          <input disabled type="text" [(ngModel)]="fechaE" class="form-control" id="field2" name="field2"  [min]="minDate">
        </div>
        <div class="col-md-3 mb-3">
          <label for="field1">Cliente:</label>
          <select class="form-select"  [(ngModel)]="datosCotizacion.Clientes_ID_Cliente" aria-label="Default select example" name="cliente">
            <option selected disabled>Seleccione</option>
            <option *ngFor="let option of clientes"  [value]="option.ID_Cliente">{{ option.Razon_Social }}</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-3 mb-3">
          <label for="field3">Vía de embarque:</label>
          <input type="text" class="form-control" id="field3"  [(ngModel)]="datosCotizacion.Comentarios" name="comentarios">
        </div>
        <div class="col-md-3 mb-3">
          <label for="status" class="form-label">Flete</label>
          <select class="form-select" [(ngModel)]="flete" (ngModelChange)="actualizarFleteToShow()" aria-label="Default select example" name="flete">
              <option selected disabled>Seleccione flete</option>
              <option value="ingresar">Ingresa flete manual</option>
              <option value="3.5">Flete 3.5%</option>

          </select>
        </div>
        <div class="col-md-4 mb-3" >
          <div *ngIf="flete=='ingresar'">
            <label for="field3">Ingresa costo flete:</label>
            <input type="text" class="form-control flete" id="field3" [(ngModel)]="ManualFlete" (ngModelChange)="actualizarFleteToShow()" name="field3">
          </div>
        </div>
        <button *ngIf="this.datosCotizacion.Usuario_Clave_usuario!=''" (click)="guardar()" style="background-color: transparent; border: none;" data-toggle="tooltip" title="Guardar datos cotización">
          <i class="fa-solid fa-square-check" style="font-size: 2rem; color: #1f513a;"></i>
        </button>
        <button *ngIf="this.datosCotizacion.Usuario_Clave_usuario!=''" (click)="eliminarDatosCoti()" style="background-color: transparent; border: none;" data-toggle="tooltip" title="Eliminar datos de cotización">
          <i class="fa-solid fa-circle-xmark fa-2xl" style="font-size: 2rem; color: #511f1f;"></i>
        </button>
      </div>
      <hr>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="moneda">Selecciona la moneda:</label>
          <select class="form-control" id="moneda" (change)="actualizarTasaDeConversion($event)">
            <option value="pesos">Pesos Mexicanos</option>
            <option value="dolares">Dólares</option>
          </select>
        </div>

    </div>
    </form>
    <div class=" contenedor table-responsive">
      <button class="btn botones btn-secondary" type="submit"> 
        <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
          Agregar Producto</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li ><a class="dropdown-item" routerLink="/desecantes">Desecantes</a></li>
          <li ><a class="dropdown-item" routerLink="/hotmelt">Hotmelt</a></li>
          <li ><a class="dropdown-item" routerLink="/liquidos">Liquidos</a></li>
          <li ><a class="dropdown-item" routerLink="/plastisol">Plasticol</a></li>
          <li ><a class="dropdown-item" routerLink="/vci">VCI</a></li>
        </ul>
      </button>
      <button class="btn botones guardar" routerLink="/nuevo-cliente"><i class="fa-solid fa-users" style="color: #ffffff;"></i>Cliente nuevo</button>
      <button class="btn botones producto" routerLink="/nuevo-producto"><i class="fa-solid fa-bag-shopping" style="color: #ffffff;"></i> Nuevo producto</button>

      <table class="table table-striped" >
            <thead>
              <th>Item</th>
              <th>Descripción</th>
              <th>Cantidad</th>
              <th>UM</th>
              <th *ngIf="flete=='ingresar'">Flete</th>
              <th>Costo</th>
              <th>VA</th>
              <th>Desct.</th>
              <th>Precio Unitario</th>
              <th *ngIf="flete=='3.5'">Flete</th>
              <th>Precio total</th>
              <th>Margen</th>
            </thead>
            <tbody>
              <tbody>
                <tr *ngFor="let item of productos; let i=index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ item.Descripcion }}</td>
                  <td>{{ item.Cantidad }}</td>
                  <td>{{ item.Unidad_Medida }}</td>
                  <td *ngIf="flete=='ingresar'">{{ item.Flete | number:'1.3-3' }}</td>
                  <td><input type="number" step="0.01" class="form-control" id="precio" name="precio" [(ngModel)]="item.Costo"/></td>
                  <td><input type="number" step="0.01" class="form-control iva" min="0" (input)="validarInput($event)"  id="iva" name="iva" [(ngModel)]="ivaPorProducto[i]"/></td>
                  <td><input type="number" step="0.01" class="form-control des" min="0" (input)="validarInput($event)"  id="Desc"  [(ngModel)]="item.Desct" name="Desct"/></td>
                  <td>{{ item.PrecioUnitario | number:'1.3-3' }}</td>
                  <td *ngIf="flete=='3.5'">{{ item.Flete | number:'1.3-3' }}</td>
                  <td>{{ item.PrecioTotal | number:'1.3-3' }}</td>
                  <!-- ... Código HTML existente ... -->
                  <td><strong>
                    <span [style.color]="calcularResultado(item, i, fleteToShow, 'dolares') < 0.29 ? 'red' : 'inherit'">
                      {{ calcularResultado(item, i, fleteToShow, 'dolares') | number:'1.2-2' }}
                    </span></strong>
                  </td>
                  <td>
                    <button type="button" class="btn btn-danger"  (click)="eliminar(i)"><i class="fa-solid fa-trash"></i></button>
                  </td>
                  <!-- ... Más código HTML ... -->
                </tr>
              </tbody>
              <thead>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th>Total</th>
              <th *ngIf="DescT==0"> {{ totalPrecioTotal  | number:'1.2-2' }}
              <th *ngIf="DescT!=0"> {{ totalCotizacion  | number:'1.2-2' }}

              </th>
              <th>Aplicar Desct<input type="number" step="0.01" min="0"   class="form-control des" [(ngModel)]="DescT" (ngModelChange)="aplicarDescuento()" id="DescT" name="DescT"/></th>
            </thead>
        </table>
       
    
  </div>
  <!--solicitar aprobacion-->
 <button class="btn botones1 solicitar" *ngIf="mostrarSolicitarAprobacion" (click)="mostrarModalInfo()"  type="button"> <i class="fa-solid fa-thumbs-up" style="color: #ffffff;"></i> Solicitar aprobación</button>
 <!--Generar pdf de cotizacion-->
 <button class="btn botones1 pdf" *ngIf="!mostrarSolicitarAprobacion" (click)="mostrarModalPDF()" type="submit"><i class="fa-solid fa-file-pdf" style="color: #ffffff;"></i> Obtener PDF</button>
 <!--guardar aprobacion-->
<button class="btn botones1 guardar" *ngIf="!mostrarSolicitarAprobacion" (click)="crearCotizacionYProductos()"  type="submit"><i class="fa-solid fa-floppy-disk" style="color: #ffffff;"></i> Guardar</button>
<!--Cancelar cotizacion-->
 <button class="btn botones1 cancelarCoti" type="submit"  (click)="eliminarlocal()"> <i class="fa-solid fa-circle-xmark" style="color: #ffffff;"></i> Cancelar</button>
 

  </div>

<app-footer></app-footer>

  <ng-template #update let-modal>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Enviar Aprobación</h4>
        <button type="button"  class="btn close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">X
        </button>
      </div>
      <div class="modal-body">
          <form action="#">
            <label for="field1">Responsable de aprobación:</label>
            <input type="text" class="form-control" [(ngModel)]="gerentes[0].Nombre " name="responsable" disabled="">
            
            <label for="apellidp" class="form-label">Quien solicita:</label>
            <input type="text" class="form-control"  [(ngModel)]="datosCotizacion.Usuario_Clave_usuario" name="solicitante" disabled="" >

            <label for="apellidom" class="form-label">Comentarios:</label>
            <input type="text" class="form-control" [(ngModel)]="aprobacion.Comentarios"  name="comentarios">
            
              <button type="submit" class="btn  cancela" (click)="cerrarModalIdioma()">Cancelar</button>
              <button type="submit" class="btn  enviar" (click)="crearCotizacionYProductosConAprobacion()">Enviar</button>
        </form>
      </div>
    </div>

</ng-template>


<ng-template #pdf let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="myModalLabel">Generar PDF de cotización</h4>
      <button type="button"  class="btn close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">X
      </button>
    </div>
    <div class="modal-body">
      <form action="#">
        <label for="field1">Idioma:</label>
        <select class="form-select" aria-label="Default select example" [(ngModel)]="idioma" name="responsable">
          <option selected disabled>Seleccione</option>
          <option value="ESP">Español</option>
          <option value="ING">Inglés</option>
        </select>
      
        <button type="submit" class="btn cancela" (click)="cerrarModalIdioma()">Cancelar</button>
      
        <!-- Botón para generar PDF -->
        <button type="button" class="btn enviar" (click)="idioma === 'ING' ? GenerarPDF2() : GenerarPDF()">{{ idioma === 'ESP' ? 'Generar PDF' : 'Generar PDF' }}</button>

      </form>
      
</div>
</div>
</ng-template>

