hr{
    background-color: black;
}
.botones{
margin-left: 5px;
margin-top: 2rem;
padding: 10px;
}
.contenedor{
    width: 100%;
}

.des{
    width: 70px;
}


.guardar{
 background-color: #549256;
 border-color: #549256;
 color: white;
 float: right;
}

.producto{
    background-color: #545d92;
    border-color: #545d92;
    color: white;
    float: right;
   }

.pdf{
    background-color: #546a92;
    border-color: #546a92;
    color: white;
    float: right;
   }
   

.solicitar{
    color: white;
    border-color: #495BB7;
    background-color: #495BB7;
    float: right;
}
.cancelarCoti{
    color: white;
    border-color: rgb(128, 128, 128);
    background-color: rgb(128, 128, 128);
    float: right;

}




.cliente{
    background-color: #495BB7;
    float: right;
    color: white;
}

.cancelar{
    padding: 15px 20px;
    background-color: #6e6e6e;
    border-color: #6e6e6e;
    float: right;
    color: white;
}

.flete{
    width: 180px;
}


.btn-secondary{
    float: right;
    margin-bottom: 1rem;
}

.btn-success{
    float: right;
    margin-bottom: 1rem;
}


.enviar{
    background-color: #549256;
    border-color: #549256;
    float: right;
    color: white;
    margin: 1rem 1rem;
}

.cancela{
    background-color: #797979;
    border-color: #797979;
    float: right;
    color: white;
    margin: 1rem 1rem;
}


.botones1{
    padding: 10px 20px;
    margin: 5px;
    margin-top: 2rem;
}

/* Media query para hacerlos responsivos */
@media (max-width: 600px) {
    .botones1{
        display: block;
        margin: 5px auto;
    }
}

.container{
    margin-bottom: 8rem;
}