<body>
    <nav class="sb-topnav navbar navbar-expand navbar-dark nav">
    <a class="navbar-brand ps-3" routerLink="/menu">PAR-QUOTE</a>
    <!--<img src="../../../assets/img/logo.png" alt="" width="60px" height="60px">--> 
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <p>{{role+" / "+usuario}}</p>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li *ngIf="role=='Vendedor' || role=='Administrador'" routerLink="/cotizacion-usuario"><a class="dropdown-item"><i class="fa-solid fa-file-invoice" style="color: #8c8c8c;"></i> Mis cotizaciones</a></li>
                
                <li><a class="dropdown-item" href="#!" (click)="logout()"> <i class="fa-solid fa-right-from-bracket" style="color: #8f8f8f;"></i> Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light nuevo">
    <div class="container">
        <a class="navbar-brand" routerLink="/menu"><i class="fa-solid fa-house" style="color: #9e9e9e;"></i>  Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-calculator" style="color: #8a8a8a;"></i> Cotizaciones
                    </a>
                    <ul *ngIf="role=='Gerente de ventas' || role=='Administrador' || role=='Vendedor'" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li *ngIf="role=='Vendedor' || role=='Administrador'"><a class="dropdown-item" routerLink="/cotizacion">Nueva cotización</a></li>
                        <li *ngIf="role=='Vendedor' || role=='Administrador' || role=='Gerente de ventas'"><a class="dropdown-item" routerLink="/cotizaciones">Visualizar cotizaciones</a></li>
                        <li *ngIf="role=='Gerente de ventas' || role=='Administrador'"><a class="dropdown-item" routerLink="/aprobaciones">Aprobación de cotizaciones</a></li>
                        <li *ngIf="role=='Gerente de ventas' || role=='Administrador'"><a class="dropdown-item" routerLink="/reporte">Reportes</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown" *ngIf="role=='Vendedor' || role=='Administrador' || role=='Gerente de ventas'">
                    <a  class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-user-tag" style="color: #808080;"></i> Clientes</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li ><a class="dropdown-item" *ngIf="role=='Vendedor' || role=='Administrador'" routerLink="/nuevo-cliente">Nuevo Cliente</a></li>
                        <li ><a class="dropdown-item" routerLink="/ver-cliente">Visualizar clientes</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-barcode" style="color: #707070;"></i> Productos</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li ><a class="dropdown-item" routerLink="/desecantes">Desecantes</a></li>
                        <li ><a class="dropdown-item" routerLink="/hotmelt">Hotmelt</a></li>
                        <li ><a class="dropdown-item" routerLink="/liquidos">Liquidos</a></li>
                        <li ><a class="dropdown-item" routerLink="/plastisol">Plastisol</a></li>
                        <li ><a class="dropdown-item" routerLink="/vci">VCI</a></li>
                        <li ><a class="dropdown-item" routerLink="/productos">Todos los productos</a></li>
                        <li ><a class="dropdown-item" *ngIf="role=='Vendedor' || role=='Administrador'" routerLink="/nuevo-producto">Nuevo producto</a></li>

                        

                    </ul>
                </li>
                <li class="nav-item dropdown" *ngIf="role=='Administrador'">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-user" style="color: #999999;"></i> Usuarios
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li ><a class="dropdown-item" routerLink="/nuevoUsuario">Nuevo usuario</a></li>
                        <li><a class="dropdown-item" routerLink="/usuarios">Ver usuarios</a></li>
                    </ul>
                </li>
                
            </ul>
        </div>
    </div>
</nav>

</body>