.nav{
    background: var(--color-3, #373F41);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
color: white;
}
p{margin-top: 1rem;}

.nuevo{
    border: 1px solid #FFF;
background: #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}