<app-navbar></app-navbar>
<body>
    <div>
        <h3>DESECANTES</h3>
        <a routerLink="/venta-guiada-desecantes"> Venta guíada desecantes</a>          
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="card" *ngFor="let item of productos" style="width: 18rem;">
            <img [src]="getImageUrl(item.NumArticulo)"  type="image/png"  (error)="imagenError($event)"  alt="{{ item.Descripcion }}" width="200">
        <div class="add">
            <!--<p class="card-text">{{item.NumArticulo}}</p>-->
            <p class="card-text"><strong>{{item.Descripcion}}</strong></p>
            <p class="card-text">Unidad de medida: {{item.Unidad_Medida}}</p>
            <p class="card-text">Costo en SAP: ${{item.Costo}}</p>
        </div>
        <div class="add" *ngIf="role=='Vendedor' || role=='Administrador'">
            <input type="number" [(ngModel)]="item.Cantidad" min="0" (input)="validarInput($event)" class="cantidad">
            <button type="button" class="btn btn-outline-secondary add" (click)="agregarProducto(item)">Añadir</button>
        </div>
    </div>
</div>
</body>
<br>
<br>
<app-footer></app-footer>