/* Amarillo para "Revisar" */
.status-amarillo {
    background-color: rgb(255, 196, 0);
  }
  
  /* Verde para "Aprobada" */
  .status-verde {
    background-color: rgb(0, 155, 0);
  }
  
  /* Rojo para "Rechazada" */
  .status-rojo {
    background-color: rgb(207, 0, 0);
  }

  p{
    text-align: center;
    width: 90px;
    border-radius: 5px;
    color: white;
    
  }
  a:hover {
    cursor: pointer;
    color: #0d00be !important; /* Usar !important para asegurarte de que la regla se aplique */
    font-weight: 600;
  }
  .botonBuscar{
    background-color: #373F41;
    margin-left: 1rem;
    margin-right: 1rem;
}
.container2{
  height: 70vh;
  width: 100%;
  overflow-y: scroll;
  margin-bottom: 3rem;
}