<app-navbar></app-navbar>
<br>

<div class=" container table-responsive-xl">
  <br>
    <div class="row">
        <div class="col-md-6">
          <h2>Cotizaciones</h2>
        </div>
        <div class="col-md-6">
          <div class="form-inline justify-content-end">
            <div class="form-group">
              <select  class="form-select" aria-label="Default select example" [(ngModel)]="usuario" name="usuario">
                <option selected disabled>Representante de ventas</option>
                <option *ngFor="let option of vendedores"  [value]="option.Clave_usuario">{{ option.Nombre }}</option>
              </select>
            </div>
            <button class="btn botonBuscar" (click)="getCotiPorusuario()" ><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></button>
            <button class="btn btn-secondary" (click)="limpiar()" >Limpiar</button>
          </div>
        </div>
      </div>
      <br>
      <br>
<div  class="container2">
<table class="table table-striped">
    <thead class="">
        <th>Núm. Cotizacion</th>
        <th>Fecha Emisión</th>
        <th>Fecha Expiración</th>
        <th>Total</th>
        <th>Cliente</th>
        <th>Vendedor</th>
        <th>Status</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of datos; let i=index">
        <td><a (click)="obtenerID(item.NumCotizacion)">{{item.NumCotizacion}}</a></td>
        <td>{{item.FechaEmision | date:'dd-MM-yyyy'}}</td>
        <td>{{item.FechaExpiracion | date:'dd-MM-yyyy'}}</td>
        <td>{{item.Total | number:'1.2-2' }}</td>
        <td>{{item.Razon_Social}}</td>
        <td>{{item.Nombre}}</td>
        <td><p [ngClass]="getColorClass(item.Status)">{{item.Status}}</p></td>
      </tr>
  </tbody>
</table>
</div>
</div>
<div class="container">
  <hr>
<div class="container">
  <h3 style="text-align: center;"> Reportes</h3>
  <canvas id="myChart"></canvas>
</div>
</div>

<br>
<br>
<app-footer></app-footer>