<app-navbar></app-navbar>
<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Clientes</h2>
    </div>
    <div class="col-md-6">
      <div class="form-inline justify-content-end">
        <div class="form-group">
          <input type="text" class="form-control razon" [(ngModel)]="buscarRazonS" placeholder="Nombre">
        </div>
        <button class="btn botonBuscar" (click)="buscarCliente()" ><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></button>
        <button class="btn btn-secondary" (click)="getRol()" >Limpiar</button>
      </div>
    </div>
  </div>
  <br>
  <br>
<div class=" container2 table-responsive">
<table class="table table-striped" >
          <thead>
            <th>ID Cliente</th>
            <th>Nombre</th>
            <th>RFC</th>
            <th>Domicilio fiscal</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th *ngIf="role=='Vendedor' || role=='Administrador'">Acciones</th>
            <th *ngIf="role=='Vendedor' || role=='Administrador'"></th>

          </thead>
          <tbody>
              <tr *ngFor="let item of datos; let i=index">
              <td>{{item.ID_Cliente}}</td>
              <td>{{item.Razon_Social}}</td>
              <td>{{item.RFC}}</td>
              <td>{{item.Domicilio_Fiscal}}</td>
              <td>{{item.email}}</td>
              <td>{{item.telefono_empresarial}}</td>
              <td *ngIf="role=='Vendedor' || role=='Administrador'">
                <button type="button" class="btn2 btn-danger"  (click)="mostrarConfirmacionEliminar1(item.ID_Cliente)"><i class="fa-solid fa-trash"></i>
                </button>
              </td>
              <td *ngIf="role=='Vendedor' || role=='Administrador'">
                  <button type="button" class="btn2 btn-warning" (click)="mostrarModalUptade1(item)"><i class="fa-solid fa-pen-to-square"></i></button>
              </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
<app-footer></app-footer>

<ng-template #update let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="myModalLabel">Actualizar cliente</h4>
      <button type="button"  class="btn btn-secondary close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">X
      </button>
    </div>
    <div class="modal-body">
        <form action="#">
          <label for="nombre" class="form-label">Nombre:</label><span>*</span>
            <input type="text" class="form-control" [(ngModel)]="datosUsuarioU.Razon_Social" name="nombre" >
            <label for="apellidp" class="form-label">RFC:</label>
            <input type="text" class="form-control" [(ngModel)]="datosUsuarioU.RFC" name="apellidp" >
            <label for="apellidom" class="form-label">Domicilio Fiscal:</label>
            <input type="text" class="form-control" [(ngModel)]="datosUsuarioU.Domicilio_Fiscal" name="apellidom">
            <label for="password" class="form-label">Email:</label>
            <input type="text" class="form-control"  name="password" [(ngModel)]="datosUsuarioU.email">
            <label for="correo" class="form-label">Teléfono empresaria:</label>
            <input type="text" class="form-control" [(ngModel)]="datosUsuarioU.telefono_empresarial" name="correo" >
            <button type="submit" (click)="mostrarConfirmacionUpdate()" class="btn btn-primary">Enviar</button>
            <button type="submit" class="btn btn-secondary" (click)="cerrar()">Cancelar</button>
      </form>
</div>
</div>
</ng-template>
