.container{
    margin-top: 2rem;
}
.btn:hover {
    background-color: #000000; /* Cambia el color de fondo al pasar sobre el botón */
}

.btn:active {
    background-color: #ffffff; /* Cambia el color de fondo al hacer clic en el botón */
}

.btn2{
    padding: 10px 15px; /* Espaciado interno del botón */
    border: none; /* Quita el borde del botón */
    display: inline-block; /* Hace que el botón se muestre como un bloque en línea */
    font-size: 16px; /* Tamaño de fuente del texto */
    transition-duration: 0.4s; /* Duración de la transición */
    border-radius: 50%;
  }

.btn2:hover {
    background-color: #94d4d8; /* Cambia el color de fondo al pasar sobre el botón */
}

.btn{
    margin-top: 1rem;
    margin-left: 10px;
}

.imageV{
    margin-right: 1rem;
}
.container2{
    height: 100vh;
    width: 100%;
	overflow-y: scroll;
    margin-bottom: 3rem;
}

.inputB{
    margin-top: 1rem;
}

.botonBuscar{
    background-color: #373F41;
}

  