    <app-navbar></app-navbar>
    <!-- Page Content -->
    <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Usuarios</h2>
      </div>
        <div class="col-md-6">
          <div class="form-inline justify-content-end">
            <div class="form-group">
              <input type="text" class="form-control inputB" [(ngModel)]="buscarUsuario" placeholder="Nombre">
            </div>
            <button class="btn botonBuscar" (click)="BuscarUsuario()" ><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></button>
            <button class="btn btn-secondary" (click)="getRol2()" >Limpiar</button>
    
          </div>
        </div>
      </div>
      <br>
      <br>
      
      <div class=" container2 table-responsive">
        <table class="table table-striped" >
              <thead>
                <!--<th>Clave usuario</th>-->
                <th>Nombre</th>
                <th>Apellido paterno</th>
                <th>Apellido Materno</th>
                <th>Rol</th>
                <th>Email</th>
                <th>Status</th>
                <th>Teléfono</th>
                <th>Acciones</th>
              </thead>
              <tbody>
                  <tr *ngFor="let item of datos; let i=index">
                  <!--<td>{{item.Clave_usuario}}</td>-->
                  <td>{{item.Nombre}}</td>
                  <td>{{item.ApellidoP}}</td>
                  <td>{{item.ApellidoM}}</td>
                  <td>{{item.Rol}}</td>
                  <td>{{item.email}}</td>
                  <td>{{item.Status}}</td>
                  <td>{{item.Telefono}}</td>

                  <td>
                    <button type="button" class="btn2 btn-danger"  (click)="mostrarConfirmacionEliminar1(item.Clave_usuario)"><i class="fa-solid fa-trash"></i>
                    </button>
                  </td>
                  <td>
                      <button type="button" class="btn2 btn-warning" (click)="mostrarModalUptade1(item)"><i class="fa-solid fa-pen-to-square"></i></button>
                  </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
    <app-footer></app-footer>
    <ng-template #update let-modal>
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Actualizar Usuario</h4>
          <button type="button"  class="btn btn-secondary close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">X
          </button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="mostrarConfirmacionUpdate()" enctype="multipart/form-data">
              <label for="nombre" class="form-label">Nombre:</label><span>*</span>
                <input type="text" class="form-control" [(ngModel)]="datosUsuarioU.Nombre" name="nombre" >
                <label for="apellidp" class="form-label">Apellido Paterno:</label><span>*</span>
                <input type="text" class="form-control" [(ngModel)]="datosUsuarioU.ApellidoP" name="apellidp" >
                <label for="apellidom" class="form-label">Apellido Materno:</label>
                <input type="text" class="form-control" [(ngModel)]="datosUsuarioU.ApellidoM" name="apellidom">
                <label for="password" class="form-label">Contraseña:</label>
                <input type="password" class="form-control"  name="password" [(ngModel)]="datosUsuarioU.Password">
                <label for="password" class="form-label">Confirmar contraseña:</label>
                <input type="password" class="form-control"  name="password" [(ngModel)]="confirmarContra">
                <div *ngIf="datosUsuarioU.Password != '' && datosUsuarioU.Password != confirmarContra">
                  <p class="text-danger">Las contraseñas no coinciden.</p>
                </div>
                <label for="correo" class="form-label">Correo electronico:</label><span>*</span>
                <input type="email" class="form-control" [(ngModel)]="datosUsuarioU.email" name="correo" >
                <label for="Telefono" class="form-label">Teléfono:</label><span>*</span>
                <input type="text" class="form-control" [(ngModel)]="datosUsuarioU.Telefono" name="Telefoni" >
                <label for="rol" class="form-label">Rol:</label><span>*</span>
              <select class="form-select" [(ngModel)]="datosUsuarioU.Rol" id="rol" aria-label="Default select example" name="rol">
                <option selected>Seleccione</option>
                <option value="Administrador">Administrador</option>
                <option value="Gerente de ventas">Gerente de ventas</option>
                <option value="Vendedor">Vendedor</option>
              </select>
              <label for="status" class="form-label">Status:</label><span>*</span>
                <select class="form-select"  [(ngModel)]="datosUsuarioU.Status" id="status" aria-label="Default select example" name="status">
                  <option selected>Seleccione</option>
                  <option value="1">Activo</option>
                  <option value="0">Inactivo</option>
                </select>
                <br>
                <div class="input-group" *ngIf="datosUsuarioU.Rol=='Vendedor'">
                  <img class="imageV"  *ngIf="datosUsuarioU.Rol=='Vendedor'" [src]="urlImagen" width="60px" height="65px">
                  <br>
                  <input type="file" accept="image/jpeg, image/webp" class="form-control" name="imagen" (change)="onImageSelect($event)" >
              </div>
                <br>
                <button type="submit"  class="btn btn-primary">Enviar</button>
                <button type="button" class="btn btn-secondary" (click)="cerrar()">Cancelar</button>
          </form>
    </div>
  </div>
  </ng-template>
  