<app-navbar></app-navbar>
<br>
<div class=" container table-responsive">
    <h2>Mis cotizaciones</h2>
    <br>
<table class="table table-striped" >
    <thead>
        <th>NumCotizacion</th>
        <th>FechaEmision</th>
        <th>FechaExpiracion</th>
        <th>Total</th>
        <th>Cliente</th>
        <th>Vendedor</th>
        <th>Status</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of datos; let i=index">
        <td><a (click)="obtenerID(item.NumCotizacion)">{{item.NumCotizacion}}</a></td>
        <td>{{item.FechaEmision | date:'dd-MM-yyyy'}}</td>
        <td>{{item.FechaExpiracion | date:'dd-MM-yyyy'}}</td>
        <td>{{item.Total | number:'1.2-2' }}</td>
        <td>{{item.Razon_Social}}</td>
        <td>{{item.Nombre}}</td>
        <td class="revisar" ><a>{{item.Status}}</a></td>
      </tr>
  </tbody>
</table>
</div>