<app-navbar></app-navbar>
<body>
<br>
<br>
<h3> Reportes</h3>
<div class="container contenedor2">
  <h5>Cotizaciones por mes</h5>
</div>
<div class="container contenedor">
  <div  class=" container form-row">
    <label><strong>Año:</strong></label>
    <select class="form-select col-md-4 mb-5" [(ngModel)]="selectedYear">
      <option *ngFor="let year of years" [value]="year">{{ year }}</option>
    </select>
    <button (click)="obtener()" class="btn btn-outline-secondary col-md-1 mb-5 selecciones">Obtener</button><br>
  </div>
  <canvas id="myChart"></canvas>
</div>

<br>
<div class="container contenedor2">
  <h5>Productos</h5>
</div>
<div class="container contenedor form-row">
  <div  class=" container form-row">
    <label><strong>Año:</strong></label>
    <select class="form-select col-md-3 mb-5" [(ngModel)]="selectedanio">
      <option *ngFor="let year of years" [value]="year">{{ year }}</option>
    </select>
    <label><strong>Mes:</strong></label>
    <select class="form-select col-md-3 mb-5" [(ngModel)]="selectedMonth">
    <!--<option *ngFor="let mes of mesesLabels" [value]="mes">{{ mes }}</option>-->
      <option  value=1>Enero</option>
      <option  value=2>Febrero</option>
      <option  value=3>Marzo</option>
      <option  value=4>Abril</option>
      <option  value=5>Mayo</option>
      <option  value=6>Junio</option>
      <option  value=7>Julio</option>
      <option  value=8>Agosto</option>
      <option  value=9>Septiembre</option>
      <option  value=10>Octubre</option>
      <option  value=11>Noviembre</option>
      <option  value=12>Diciembre</option>
    </select>
    <button (click)="obtener2()" class="btn btn-outline-secondary col-md-1 mb-5 selecciones">Obtener</button><br>
  </div>

  <div  class="container contenedor col-md-6 mb-5">
    <h5 style="text-align: center;">Producto mas solicitado</h5>
    <canvas id="productos"></canvas>
  </div>

  <div  class=" container contenedor col-md-6 mb-5">
    <h5 style="text-align: center;">Categorias</h5>
    <canvas id="categorias"></canvas>
  </div>
</div>

<br>

<div class="container contenedor2">
  <h5>Representante de ventas</h5>
</div>
<div class="container contenedor form-row">
  <div  class=" container form-row">
    <label><strong>Año:</strong></label>
    <select class="form-select col-md-3 mb-5" [(ngModel)]="selectedanio2">
      <option *ngFor="let year of years" [value]="year">{{ year }}</option>
    </select>
    <label><strong>Mes:</strong></label>
    <select class="form-select col-md-3 mb-5" [(ngModel)]="selectedMonth2">
    <!--<option *ngFor="let mes of mesesLabels" [value]="mes">{{ mes }}</option>-->
      <option  value=1>Enero</option>
      <option  value=2>Febrero</option>
      <option  value=3>Marzo</option>
      <option  value=4>Abril</option>
      <option  value=5>Mayo</option>
      <option  value=6>Junio</option>
      <option  value=7>Julio</option>
      <option  value=8>Agosto</option>
      <option  value=9>Septiembre</option>
      <option  value=10>Octubre</option>
      <option  value=11>Noviembre</option>
      <option  value=12>Diciembre</option>
    </select>
    <button (click)="obtener3()" class="btn btn-outline-secondary col-md-1 mb-5 selecciones">Obtener</button><br>
  </div>

  <div  class="container contenedor col-md-6 mb-5">
    <h5 style="text-align: center;">Cotizaciones por vendedor</h5>
    <canvas id="vendedores"></canvas>
  </div>

  <div  class=" container contenedor col-md-6 mb-5">
    <h5 style="text-align: center;">Categorias</h5>
    <canvas id="aprobaciones"></canvas>
  </div>
</div>

<br>
</body>
<app-footer></app-footer>