body{
background-color: #F2F2F2;
    
}
.contenedor{
    background-color: white;
    padding-top: 1rem;
}
.contenedor2{
    background-color: white;
    padding: 1rem 0rem;
    background-color: rgb(206, 206, 206);
    text-align: center;
}
label{
    margin: 0.3rem 1rem;
}
.selecciones{
    margin: 0rem 1rem;

}
h3{
    text-align: center;
}