.revisar{
    background-color: rgb(215, 218, 55);
}
.aprobar{
    padding: 15px 20px;
    background-color: #546d92;
    border-color: #546d92;
    float: right;
    color: white;
    margin-bottom: 3rem;
   }

.rechazar{
    padding: 15px 20px;
    background-color: #818181;
    border-color: #818181;
    float: right;
    color: white;
    margin-left: 10px;
}

.enviar{
    background-color: #549256;
    border-color: #549256;
    color: white;
    margin-right: 1rem;
}