<body class="fondo">
    <app-navbar></app-navbar>
    <div class="container">
        <h3>Registrar producto nuevo</h3>
        <br>
        <span>Campos obligatorios *</span>
      <div class="">
        <form (ngSubmit)="AgregarProdcutos()" enctype="multipart/form-data">
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="nombre" class="form-label">Número de articulo:</label><span>*</span>
                <input type="text" class="form-control" name="NumArticulo" [(ngModel)]="datosArticulo.NumArticulo" >
              </div>
              <div class="mb-3">
                <label for="nombre" class="form-label">Descripción:</label><span>*</span>
                <input type="text" class="form-control" [(ngModel)]="datosArticulo.Descripcion" name="Descripcion">
              </div>
              <div class="mb-3">
                <label for="apellidp" class="form-label">Código de barras:</label>
                <input type="text" class="form-control" minlength="12" maxlength="13" [(ngModel)]="datosArticulo.Codigo_barras" name="Codigo_barras">
              </div>
              <div class="mb-3">
                <label for="apellidp" class="form-label">Fabricante:</label>
                <input type="text" class="form-control" minlength="12" maxlength="13" [(ngModel)]="datosArticulo.Fabricante" name="Fabricante" >
              </div>
              
            
            </div>

            <div class="col-md-6">
                <div class="mb-3">
                  <label for="apellidom" class="form-label">Unidad de medida:</label><span>*</span>
                  <input type="text" class="form-control" [(ngModel)]="datosArticulo.Unidad_medida" name="Unidad_medida" >
                </div>
                <div class="mb-3">
                  <label for="telefono_empresarial" class="form-label">Categoria:</label><span>*</span>
                  <select class="form-select"  [(ngModel)]="datosArticulo.Categoria_CodigoClasificacion" aria-label="Default select example" name="categoria">
                    <option selected disabled>Seleccione</option>
                    <option *ngFor="let option of categoria"  [value]="option.CodigoClasificacion">{{ option.NombreCategoria }}</option>
                  </select>
                </div>
                <div class="mb-3">
                    <label for="telefono_empresarial" class="form-label">Costo:</label><span>*</span>
                    <input type="number" class="form-control" [(ngModel)]="datosArticulo.Costo" name="Costo" >
                  </div>
                  <div class="mb-3">
                    <label for="imagen" class="form-label">Imagen:</label>
                    <input type="file" accept="image/jpeg, image/webp" class="form-control" name="imagen" (change)="onImageSelect($event)" >
                    <!--<input type="file" class="form-control" [(ngModel)]="datosArticulo.imagen" name="imagen" >-->
                  </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
                <button type="submit" class="btn btn-secondary" routerLink="/menu">Cancelar</button>
            </div>
              


          </div>
        </form>
      </div>
</div>
<br>
<br>

</body>
<app-footer></app-footer>