a {
    text-decoration: none; 
    color: #007bff;
  }
  
  a:hover {
    cursor: pointer; 
    color: #0056b3; 
  }

.revisar{
  background-color: rgb(209, 192, 42);
}
.container2{
  height: 100vh;
  width: 100%;
overflow-y: scroll;
  margin-bottom: 3rem;
}