<app-navbar></app-navbar>
<br>
<div class=" container table-responsive">
    <h5>Cotizaciones</h5>
<div class="container2">
<table class=" table table-striped" >
    <thead>
        <th>NumCotizacion</th>
        <th>FechaEmision</th>
        <th>FechaExpiracion</th>
        <th>Total</th>
        <th>Cliente</th>
        <th>Vendedor</th>
        <th>Comentarios</th>
        <th>Status</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of datos; let i=index">
        <td><a>{{item.NumCotizacion}}</a></td>
        <td>{{item.FechaEmision | date:'dd-MM-yyyy'}}</td>
        <td>{{item.FechaExpiracion | date:'dd-MM-yyyy'}}</td>
        <td>{{item.Total | number:'1.2-2' }}</td>
        <td>{{item.Razon_Social}}</td>
        <td>{{item.Nombre}}</td>
        <td>{{item.Comentarios}}</td>
        <td class="revisar" (click)="obtenerID(item.NumCotizacion)" ><a>{{item.Status}}</a></td>
      </tr>
  </tbody>
</table>
</div>
</div>

<app-footer></app-footer>