<body>
    <div id="contenedor">
        <div id="contenedorcentrado">
          <div id="login" class="">
            <form id="loginform">
              <h3>LOGIN</h3>
                <label for="usuario">Correo electrónico:</label>
                <input id="usuario" type="email" name="usuario" [(ngModel)]="datosLogin.Clave_usuario" placeholder="Ingresa usuario" required>
                <label for="password">Contraseña:</label>
                <input id="password" type="password" [(ngModel)]="datosLogin.Password" placeholder=" Ingresa contraseña" name="password" required>
                <button type="submit" title="Ingresar" name="Ingresar" (click)="login()">Ingresar</button>
            </form>
          </div>
          <div id="derecho" >
            <!--<img src="../../../assets/img/logoSN.png" alt="">-->
            <h1>PAR-QUOTE</h1>
            <hr>
            <h4>BIENVENIDO</h4>
          </div>
        </div>
    </div>
</body>
