<app-navbar></app-navbar>
<body>
    <div>
        <h3>PRODUCTOS</h3>
        <div class="custom-container" *ngIf="role=='Administrador'" >
            <h6>Actualizar lista de precios</h6>
            <form class="input-group" enctype="multipart/form-data">
              <input type="file" #fileInput name="file" accept=".xls, .xlsx" class="form-control" />
              <button (click)="uploadFile()" class="btn btn-outline-secondary">Subir</button>
            </form>
        </div>
          
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="card" *ngFor="let item of productos" style="width: 18rem;">
            <img [src]="getImageUrl(item.NumArticulo)"  type="image/png"  (error)="imagenError($event)"  alt="{{ item.Descripcion }}" width="200">
        <div class="add">
            <!--<p class="card-text">{{item.NumArticulo}}</p>-->
            <p class="card-text"><strong>{{item.Descripcion}}</strong></p>
            <p class="card-text">Unidad de medida: {{item.Unidad_Medida}}</p>
            <p class="card-text">Costo en SAP: ${{item.Costo}}</p>
            
        </div>
        <div class="add" *ngIf="role=='Vendedor' || role=='Administrador'">
            <input type="number" [(ngModel)]="item.Cantidad" min="0" (input)="validarInput($event)" class="cantidad">
            <button type="button" class="btn btn-outline-secondary add" (click)="agregarProducto(item)">Añadir</button>
        </div>
    </div>
</div>
</body>
<br>
<br>
<app-footer></app-footer>