<app-navbar></app-navbar>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <div class="container mt-5">
    <h5>Cotización</h5>
    <form>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="field1">Vendedor:</label>
            <input type="text" disabled="" class="form-control" id="field2" [(ngModel)]="datosCotizacion.Usuario_Clave_usuario" name="usuario">
        </div>
        <div class="col-md-4 mb-3">
          <label for="field2">Fecha de creación:</label>
          <input type="text" disabled="" class="form-control" id="field2" [(ngModel)]="datosCotizacion.FechaEmision" name="emision">
        </div>
        <div class="col-md-4 mb-3">
          <label for="field2">Fecha de expiración:</label>
          <input type="text" disabled="" [(ngModel)]="datosCotizacion.FechaExpiracion" class="form-control" id="field2" name="expiracion">
        </div>
        
      </div>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="field1">Cliente:</label>
          <input type="text" disabled="" [(ngModel)]="datosCotizacion.Clientes_ID_Cliente" class="form-control" id="field2" name="cliente">
        </div>
        <div class="col-md-4 mb-3">
          <label for="field3">Vía de embarque:</label>
          <input type="text" disabled="" class="form-control" id="field3"  [(ngModel)]="datosCotizacion.Comentarios" name="comentarios">
        </div>
        <div class="col-md-4 mb-3">
          <label for="status" class="form-label">Status</label>
          <input type="text" class="form-control revisar" id="field3"  [(ngModel)]="datosCotizacion.Status" name="flete">
        </div>
      </div>
      <hr>
      <div class="form-row">

    </div>
    </form>
    <div class=" contenedor table-responsive">
           <table class="table table-striped" >
            <thead>
              <th>Item</th>
              <th>Descripción</th>
              <th>Cantidad</th>
              <th>UM</th>
              <th>Flete</th>
              <th>Costo</th>
              <th>VA</th>
              <th>Desct.</th>
              <th>Precio Unitario</th>
              <th>Precio total</th>
              <th>Margen</th>
            </thead>
            <tbody>
              <tbody>
                <tr *ngFor="let item of productos; let i=index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ item.Descripcion }}</td>
                  <td>{{ item.Cantidad }}</td>
                  <td>{{ item.Unidad_Medida }}</td>
                  <td>{{ item.Flete | number:'1.2-2' }}</td>
                  <td>{{item.Precio}}</td>
                  <td>{{item.VA | number:'1.2-2'}}</td>
                  <td>{{item.Desct}}%</td>
                  <td>{{ item.PrecioUnitario | number:'1.2-2' }}</td>
                  <td>{{ item.PrecioTotal | number:'1.2-2' }}</td>
                  <td><strong>{{item.Margen*100 | number:'1.2-2'}}%</strong>               
                  </td>
                </tr>
              </tbody>
              <thead>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th>Total</th>
              <th> {{ datosCotizacion.Total  | number:'1.2-2' }}
              </th>
              <th></th>
            </thead>
        </table>
        <button class="btn rechazar"  type="submit" (click)="mostrarConfirmacionUpdateR()">Rechazar <i class="fa-solid fa-x" style="color: #ffffff;"></i></button>
        <button class="btn aprobar" type="submit" (click)="mostrarConfirmacionUpdateA()">Aprobar <i class="fa-solid fa-check" style="color: #ffffff;"></i></button>


      </div>

  </div>
