.titulo{
    margin-bottom: 2rem;
}

.card{
    float: left;
    margin-left: 1rem;
    margin-top: 1rem;
    height: 300px;
    width: 500px;
    align-items: center;
}

img{
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 4px 0;
}

.container{
    margin-top: 2rem;
    margin:auto;
    display:block;
    align-items: center;
}

.cantidad{
    width: 70px;
    border: var(--bs-border-width) solid var(--bs-border-color);
    padding: 3px;
    border-radius: 5px;
    margin-left: 5rem;
}
.add{
    display: inline-block;
    margin: 10px 10px;   
}
h3{
    margin-left: 5rem;
    margin-top: 2rem;
}

p{
    font-size: 13px;
    text-align: center;
}
.btn{
    font-size: 10px;
}

.contenedor{
    align-items: center;
}

.row {
    
    margin-right: calc(0 * var(--bs-gutter-x));
}

.venta{
    display: flex;
}
a{
    color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
    text-decoration: none;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 4rem;
}
.margen{
    margin-bottom: 9rem;
}
