<app-navbar></app-navbar>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<div class="margen">
      <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center titulo">
          <a routerLink="/hotmelt">
            <i class="fa-solid fa-arrow-left fa-xl" style="color: #363636;"></i>
          </a>
          <h5>Venta guiada hotmelt</h5>
          <button class="btn btn-outline-secondary" (click)="getProductos()">Ver productos</button>
        </div>
        <div class="form-row">
          <!--TIPO DE DESECANTE-->
          <div class="col-md-4 mb-3">
            <h6>Tipo de hotmelt</h6>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" [(ngModel)]="opcionesDesecante[opciones[0]]" [id]="opciones">
              <label class="form-check-label" [for]="opciones">
                {{ opciones[0] }}
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [(ngModel)]="opcionesDesecante[opciones[1]]" [id]="opciones">
              <label class="form-check-label" [for]="opciones">
                {{ opciones[1] }}
              </label>
            </div>
          </div>
        </div>
      </div>

      <br>
      <br>
      <div class="row justify-content-center">
        <div class="card" *ngFor="let item of productos" style="width: 18rem;">
            <img [src]="getImageUrl(item.NumArticulo)"  type="image/png"  (error)="imagenError($event)"  alt="{{ item.Descripcion }}" width="200">
        <div class="add">
            <!--<p class="card-text">{{item.NumArticulo}}</p>-->
            <p class="card-text"><strong>{{item.Descripcion}}</strong></p>
            <p class="card-text">Unidad de medida: {{item.Unidad_Medida}}</p>
            <p class="card-text">Costo en SAP: ${{item.Costo}}</p>

        </div>
        <div class="add">
            <input type="number" [(ngModel)]="item.Cantidad" min="0" (input)="validarInput($event)" class="cantidad">
            <button type="button" class="btn btn-outline-secondary add" (click)="agregarProducto(item)">Añadir</button>
        </div>
    </div>
</div>
</div>
<app-footer></app-footer>
      