<app-navbar></app-navbar>
<body>
<div class="container">
  <h1>BIENVENID@ @{{usuario}}</h1>
  <div class="row">
    <div class="col-lg-4 col-md-6 mb-4">
      <div class=" card card_coti">
        <a href="" routerLink="/cotizaciones">
          <div class="card-body">
            <h2 class="card-title">{{numCotizaciones}}</h2>
            <h5 class="card-title">Cotizaciones</h5>  
          </div>
        </a>
      </div>
    </div>
    
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card card_produ">
        <a href="" routerLink="/productos">
          <div class="card-body">
            <h2 class="card-title">{{numProductos}}</h2>
            <h5 class="card-title">Productos</h5>
          </div>
        </a>
      </div>
    </div>
    
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card card_clientes">
        <a href="" routerLink="/ver-cliente">
          <div class="card-body">
            <h2 class="card-title">{{numClientes}}</h2>
            <h5 class="card-title">Clientes</h5>
          </div>
        </a>
      </div>
    </div>
  </div>

  <!--CARD VISUALIZACION NUEVOS-->
  <div *ngIf="role=='Gerente de ventas'" class="row">
    <div class="col-lg-4 col-md-6 mb-4">
      <div class=" card card_nueva">
        <div class="card-body">
          <a routerLink="/aprobaciones"><h4 class="card-title" >{{NumCotiA}}</h4></a>
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 56 56" fill="none">
            <path opacity="0.5" d="M29.7659 5.43426L29.7664 5.43439C30.8474 5.74373 31.8221 6.31796 32.9847 7.27769C34.1555 8.24423 35.4878 9.57634 37.297 11.3856L41.567 15.6556C44.7142 18.8027 47.0386 21.1286 48.5823 23.1516C50.1173 25.1632 50.8333 26.8164 50.8333 28.6113C50.8333 30.4077 50.1183 32.0609 48.584 34.072C47.0409 36.0946 44.7166 38.4199 41.5672 41.567L41.567 41.5671C38.4198 44.7143 36.0946 47.0387 34.0718 48.5824C32.0606 50.1174 30.4074 50.8333 28.6113 50.8333C26.8161 50.8333 25.1635 50.1184 23.1524 48.5841C21.1297 47.041 18.8038 44.7166 15.6555 41.5672L15.6555 41.5671L11.3855 37.2971C9.57626 35.4879 8.24411 34.1556 7.27726 32.9847C6.31729 31.8222 5.74241 30.8475 5.43192 29.7663C5.12254 28.685 5.09344 27.5539 5.29119 26.0592C5.49034 24.5538 5.91351 22.7176 6.48848 20.2233L7.15106 17.3583L7.15115 17.358C7.63529 15.2573 7.99076 13.7189 8.40037 12.5248C8.80614 11.3419 9.25211 10.5381 9.89448 9.89457C10.538 9.2522 11.3418 8.80623 12.5247 8.40046C13.7189 7.99086 15.2572 7.63538 17.3579 7.15124L20.2232 6.49091L20.2235 6.49084C22.7165 5.91472 24.5527 5.491 26.0582 5.29186C27.5532 5.09412 28.6847 5.12381 29.7659 5.43426Z" fill="#919191" stroke="white"/>
            <path d="M26.0096 33.432C24.4393 31.864 24.4533 29.61 25.3913 27.825C25.1585 27.4887 25.0508 27.0816 25.087 26.6742C25.1231 26.2668 25.3008 25.885 25.5891 25.595C25.8775 25.305 26.2583 25.1251 26.6654 25.0866C27.0726 25.0481 27.4804 25.1535 27.818 25.3843C28.6113 24.9643 29.4816 24.7403 30.3496 24.7497C30.8138 24.754 31.2572 24.9425 31.5823 25.2738C31.9074 25.605 32.0876 26.0519 32.0833 26.516C32.079 26.9801 31.8904 27.4235 31.5592 27.7486C31.2279 28.0738 30.7811 28.254 30.317 28.2497C29.7767 28.2696 29.2661 28.5019 28.896 28.896C27.993 29.799 28.231 30.7043 28.483 30.9587C28.7396 31.213 29.6426 31.4487 30.5456 30.5457C32.375 28.7163 35.5343 28.1097 37.5596 30.1327C39.13 31.703 39.116 33.957 38.1756 35.742C38.4069 36.0783 38.5134 36.4849 38.4766 36.8915C38.4398 37.298 38.2621 37.6789 37.9742 37.9682C37.6862 38.2575 37.3062 38.4371 36.8998 38.4758C36.4935 38.5146 36.0864 38.41 35.749 38.1803C34.7018 38.7546 33.4873 38.9461 32.3143 38.7217C32.0891 38.6754 31.8752 38.5852 31.6848 38.4563C31.4944 38.3274 31.3313 38.1622 31.2048 37.9702C31.0783 37.7782 30.9908 37.5632 30.9473 37.3375C30.9039 37.1117 30.9054 36.8795 30.9516 36.6543C30.9979 36.4291 31.0881 36.2152 31.217 36.0248C31.3459 35.8345 31.5111 35.6714 31.7031 35.5448C31.895 35.4183 32.1101 35.3308 32.3358 35.2874C32.5616 35.2439 32.7937 35.2454 33.019 35.2917C33.432 35.378 34.0993 35.2427 34.671 34.671C35.5763 33.7657 35.3383 32.8627 35.084 32.6083C34.8296 32.354 33.9266 32.1183 33.0213 33.0213C31.192 34.8507 28.0326 35.4573 26.0096 33.432ZM23.3823 24.017C23.828 23.5865 24.1835 23.0716 24.4281 22.5022C24.6727 21.9329 24.8014 21.3205 24.8068 20.7009C24.8122 20.0812 24.6941 19.4667 24.4595 18.8932C24.2248 18.3197 23.8783 17.7987 23.4401 17.3605C23.002 16.9223 22.4809 16.5758 21.9074 16.3412C21.3339 16.1065 20.7194 15.9884 20.0997 15.9938C19.4801 15.9992 18.8678 16.1279 18.2984 16.3725C17.729 16.6171 17.2141 16.9726 16.7836 17.4183C15.9336 18.2985 15.4632 19.4773 15.4738 20.7009C15.4844 21.9245 15.9752 23.0949 16.8405 23.9602C17.7057 24.8254 18.8762 25.3162 20.0997 25.3268C21.3233 25.3374 22.5021 24.8671 23.3823 24.017Z" fill="white"/>
          </svg>
          <h6 class="card-title">Nuevas aprobaciones</h6>
        </div>
      </div>
    </div>
    
    <!--
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card card_nueva">
        <div class="card-body">
          <h4 class="card-title">0</h4>
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 56 56" fill="none">
            <path d="M2.3335 44.3332V11.6665H7.00016V44.3332H2.3335ZM9.3335 44.3332V11.6665H14.0002V44.3332H9.3335ZM16.3335 44.3332V11.6665H18.6668V44.3332H16.3335ZM23.3335 44.3332V11.6665H28.0002V44.3332H23.3335ZM30.3335 44.3332V11.6665H37.3335V44.3332H30.3335ZM39.6668 44.3332V11.6665H42.0002V44.3332H39.6668ZM46.6668 44.3332V11.6665H53.6668V44.3332H46.6668Z" fill="#828282"/>
          </svg>
          <h6 class="card-title">Nuevos productos</h6>
        </div>
      </div>
    </div>
    
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card card_nueva">
        <div class="card-body">
          <h4 class="card-title">0</h4>
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 39 39" fill="none">
            <path d="M31.3524 26.1769L25.8053 22.5714L27.8966 18.7374C28.3841 17.842 28.6399 16.8389 28.6406 15.8195V9.75C28.6406 7.48737 27.7418 5.31741 26.1419 3.7175C24.542 2.11758 22.372 1.21875 20.1094 1.21875C17.8468 1.21875 15.6768 2.11758 14.0769 3.7175C12.477 5.31741 11.5781 7.48737 11.5781 9.75V15.8195C11.5789 16.8389 11.8347 17.8421 12.3222 18.7374L14.4135 22.5714L8.86642 26.1769C8.01391 26.7288 7.31341 27.4857 6.82903 28.3783C6.34464 29.2709 6.09184 30.2707 6.09376 31.2862V37.7812H34.125V31.2862C34.1269 30.2707 33.8741 29.2709 33.3897 28.3783C32.9053 27.4857 32.2049 26.7288 31.3524 26.1769ZM31.6875 35.3438H8.53126V31.2862C8.53012 30.6769 8.68181 30.077 8.97246 29.5414C9.2631 29.0059 9.68341 28.5517 10.1949 28.2206L17.6339 23.3853L14.4621 17.5703C14.1696 17.033 14.0161 16.4312 14.0156 15.8195V9.75C14.0156 8.13384 14.6577 6.58387 15.8005 5.44107C16.9433 4.29827 18.4932 3.65625 20.1094 3.65625C21.7255 3.65625 23.2755 4.29827 24.4183 5.44107C25.5611 6.58387 26.2031 8.13384 26.2031 9.75V15.8195C26.2027 16.4312 26.0492 17.033 25.7567 17.5703L22.585 23.3853L30.0241 28.2206C30.5355 28.5518 30.9558 29.0059 31.2464 29.5415C31.537 30.077 31.6887 30.6769 31.6875 31.2862V35.3438Z" fill="#828282"/>
          </svg>
          <h6 class="card-title">Nuevos clientes</h6>
        </div>
      </div>
    </div>
  -->
  </div>
</div>
</body>


<app-footer></app-footer>