.nav{
    background: var(--color-3, #373F41);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
color: white;
}
p{margin-top: 1rem;}

.nuevo{
    border: 1px solid #FFF;
background: #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.container{
    margin-top: 3rem;
}
h1{
    margin-bottom: 2rem;
}
.card{
    background-color: #DBDBDB;
    border-color: #DBDBDB;
}
.card_coti{
    border-left: 1rem solid #55AD59;   
    text-align: center; 
}
.card_produ{
    border-left: 1rem solid #FFA500;  
    text-align: center; 

}
.card_clientes{
    border-left: 1rem solid #FF2E00; 
    text-align: center; 
}

.card_nueva{
    background-color: #DBDBDB;
    border-color: #DBDBDB;
}
svg{
float: right;
}
a{
    text-decoration: none;
    color: black;
}
body{
    height: 45vh;
    margin-bottom: 8rem;
}
  