<body class="fondo">
    <app-navbar></app-navbar>
    <div class="container">
        <h3>Registrar nuevo usuario</h3>
      <div class="">
        <form (ngSubmit)="AgregarUser()" enctype="multipart/form-data">
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="nombre" class="form-label">Clave usuario:<span>*</span></label>
                <input type="text" class="form-control" name="Clave_usuario" [(ngModel)]="datosUsuario.Clave_usuario" >
              </div>
              <div class="mb-3">
                <label for="nombre" class="form-label">Nombre(s):<span>*</span></label>
                <input type="text" class="form-control" [(ngModel)]="datosUsuario.Nombre" name="nombre">
              </div>
              <div class="mb-3">
                <label for="apellidp" class="form-label">Apellido Paterno:<span>*</span></label>
                <input type="text" class="form-control" [(ngModel)]="datosUsuario.ApellidoP" name="apellidp" >
            </div>
            <div class="mb-3">
                <label for="apellidom" class="form-label">Apellido Materno:</label>
                <input type="text" class="form-control" [(ngModel)]="datosUsuario.ApellidoM" name="apellidom">
            </div>
            <div class="mb-3">
              <label for="Telefono" class="form-label">Telefono:<span>*</span></label>
              <input type="text" class="form-control" [(ngModel)]="datosUsuario.Telefono" name="Telefono">
            </div>
          </div>
            
            <div class="col-md-6">
              <div class="mb-3">
                <label for="password" class="form-label">Contraseña (Debe contener al menos 8 caracteres):<span>*</span></label>
                <input type="password" class="form-control" [(ngModel)]="datosUsuario.Password" name="password">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Confirmar contraseña <span>*</span></label>
              <input type="password" class="form-control" [(ngModel)]="confirmarContra" name="password">
          </div>
          <div *ngIf="datosUsuario.Password != '' && datosUsuario.Password != confirmarContra ">
            <p class="text-danger">Las contraseñas no coinciden.</p>
          </div>
                <div class="mb-3">
                <label for="correo" class="form-label">Correo electronico:<span>*</span></label>
                <input type="email" class="form-control" [(ngModel)]="datosUsuario.email" name="correo" >
            </div>
            <div class="mb-3">
              <label for="rol" class="form-label">Rol:<span>*</span></label>
              <select class="form-select" [(ngModel)]="datosUsuario.Rol" id="rol" aria-label="Default select example" name="rol" required>
                <option selected disabled>Seleccione</option>
                <option value="Administrador">Administrador</option>
                <option value="Gerente de ventas">Gerente de ventas</option>
                <option value="Vendedor">Vendedor</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="status" class="form-label">Status:<span>*</span></label>
              <select class="form-select" [(ngModel)]="datosUsuario.Status" id="status" required aria-label="Default select example" name="status">
                <option selected disabled>Seleccione</option>
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
              </select>
            </div>
            <!-- 
              <div *ngIf="datosUsuario.Rol=='Vendedor'" class="mb-3">
                <label for="imagen" class="form-label">Imagen: </label>
                <input type="file" name="imagen" (change)="onImageSelect($event)" />
              </div>
            -->
            
            <div class="input-group" *ngIf="datosUsuario.Rol=='Vendedor'">
              <label for="imagen" class="form-label">Imagen:<span>*</span></label>
              <input type="file" accept="image/jpeg, image/webp" class="form-control" name="imagen" (change)="onImageSelect($event)" >
            </div>
            <div *ngIf="datosUsuario.imagen =='' && datosUsuario.Rol=='Vendedor' ">
              <p class="text-danger">Por favor, seleccione una imagen.</p>
            </div>

            <div class="botones">  
              <button type="submit"  class="btn btn-primary">Enviar</button>
              <button type="submit" class="btn btn-secondary" routerLink="/menu">Cancelar</button>
            </div>
              </div>
              


          </div>
        </form>
      </div>
</div>
<br>
<br>
</body>
<app-footer></app-footer>